*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.kh2{
    background-color: rgb(14, 0, 215);
}
.kh2 h2{
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#cont{
    background-color: rgb(255, 225, 0);
    padding: 15px;
    text-align: center;
}
#cont a{
    font-size: 12px; 
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}
#cont a:hover{
    background-color: rgb(0, 46, 65);
    border-radius: 10px;
    padding: auto;
    transition: .5s;
    color: #ffffff;
}
#m-c{
    padding-left: 10px;
    padding-top: 10px;
    background: linear-gradient(beige, white, beige);
    height: auto;
}
.n1, .n2, .n3, .n4 a img{
    height: 100px;
    width: 100px;
}